USE [master]
GO
/****** Object:  Database [StockManager]    Script Date: 23-11-2017 22:35:34 ******/
CREATE DATABASE [StockManager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StockManager', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\StockManager.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StockManager_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\StockManager_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StockManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StockManager]
GO
USE [StockManager]
GO
/****** Object:  Table [dbo].[ChalanType]    Script Date: 23-11-2017 22:35:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChalanType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ChalanType] [varchar](50) NOT NULL,
	[Description] [varchar](200) NULL,
	[IsInput] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinancialYear]    Script Date: 23-11-2017 22:35:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinancialYear](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
 CONSTRAINT [PK_FinancialYear] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceDetails]    Script Date: 23-11-2017 22:35:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_id] [int] NULL,
	[product_id] [int] NULL,
	[sale_rate] [float] NOT NULL,
	[quantity] [int] NOT NULL,
	[created_on] [datetime] NULL,
	[created_by] [int] NULL,
	[discount] [float] NOT NULL,
	[financial_year] [int] NULL,
	[tenant_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceMaster]    Script Date: 23-11-2017 22:35:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_no] [varchar](max) NOT NULL,
	[customer_id] [int] NULL,
	[gross_amount] [float] NOT NULL,
	[net_amount] [float] NOT NULL,
	[created_on] [date] NULL,
	[created_by] [int] NULL,
	[financial_year] [int] NULL,
	[tenant_id] [int] NULL,
	[discount] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrinterChalan]    Script Date: 23-11-2017 22:35:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrinterChalan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VendorId] [int] NOT NULL,
	[ChalanDate] [datetime] NOT NULL,
	[Created] [datetime] NULL,
	[Updated] [datetime] NULL,
	[Description] [varchar](500) NULL,
	[chalan_number] [int] NULL,
	[dispatch_document_number] [varchar](100) NULL,
	[dispatched_through] [varchar](100) NULL,
	[bale_numbers] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrinterChalanDetails]    Script Date: 23-11-2017 22:35:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrinterChalanDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ChalanId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [numeric](18, 2) NULL,
	[Fold] [int] NULL,
	[ExpectedFold] [int] NULL,
	[NetQuantity] [numeric](18, 2) NULL,
	[Shrinkage] [numeric](18, 2) NULL,
	[Description] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrintJobWorkReceived]    Script Date: 23-11-2017 22:35:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrintJobWorkReceived](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VendorId] [int] NOT NULL,
	[ChalanDate] [datetime] NOT NULL,
	[Created] [datetime] NULL,
	[Updated] [datetime] NULL,
	[Description] [varchar](500) NULL,
	[chalan_number] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrintJobWorkReceivedDetails]    Script Date: 23-11-2017 22:35:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrintJobWorkReceivedDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ChalanId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [numeric](18, 2) NULL,
	[Fold] [int] NULL,
	[Description] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 23-11-2017 22:35:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductTypeId] [int] NULL,
	[ProductName] [varchar](100) NULL,
	[Description] [varchar](200) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 23-11-2017 22:35:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductType] [varchar](50) NULL,
	[Description] [varchar](200) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseDetails]    Script Date: 23-11-2017 22:35:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [numeric](18, 2) NOT NULL,
	[Fold] [int] NOT NULL,
	[Rate] [numeric](18, 2) NULL,
	[Description] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrders]    Script Date: 23-11-2017 22:35:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VendorId] [int] NOT NULL,
	[InvoiceNumber] [int] NOT NULL,
	[InvoiceDate] [datetime] NOT NULL,
	[Created] [datetime] NULL,
	[Updated] [datetime] NULL,
	[Description] [varchar](200) NULL,
	[dispatch_document_number] [varchar](100) NULL,
	[dispatched_through] [varchar](100) NULL,
	[destination] [varchar](150) NULL,
	[bale_numbers] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TailorChalan]    Script Date: 23-11-2017 22:35:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TailorChalan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VendorId] [int] NOT NULL,
	[ChalanDate] [datetime] NOT NULL,
	[ChalanNo] [varchar](10) NULL,
	[Created] [datetime] NULL,
	[Updated] [datetime] NULL,
	[Description] [varchar](1) NULL,
	[IsGivenToTailor] [bit] NOT NULL,
	[bill_number] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TailorChalanDetails]    Script Date: 23-11-2017 22:35:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TailorChalanDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ChalanId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [numeric](18, 2) NULL,
	[LaborCost] [numeric](18, 2) NULL,
	[Description] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TailorMaterialDetails]    Script Date: 23-11-2017 22:35:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TailorMaterialDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TailorChalanDetailsId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [numeric](18, 2) NULL,
	[Description] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tenant]    Script Date: 23-11-2017 22:35:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tenant](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Address] [varchar](200) NULL,
	[Phone] [varchar](50) NULL,
	[Mobile] [varchar](50) NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[Country] [varchar](50) NULL,
	[CurrentFinYear] [int] NULL,
 CONSTRAINT [PK_Tenant] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 23-11-2017 22:35:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VendorId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [numeric](18, 2) NULL,
	[ChalanNumber] [varchar](50) NULL,
	[BillNumber] [varchar](20) NULL,
	[Created] [datetime] NULL,
	[Updated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 23-11-2017 22:35:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](50) NULL,
	[Email] [varchar](50) NOT NULL,
	[Mobile] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[TenantId] [int] NOT NULL,
	[password_reset_token] [varchar](max) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendor]    Script Date: 23-11-2017 22:35:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VendorTypeId] [int] NULL,
	[VendorName] [varchar](200) NULL,
	[PhoneNumber] [varchar](15) NULL,
	[Address] [varchar](300) NULL,
	[Description] [varchar](200) NULL,
	[IsActive] [bit] NULL,
	[email] [varchar](100) NULL,
	[pan_number] [varchar](30) NULL,
	[gst_number] [varchar](30) NULL,
	[mobile] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendorType]    Script Date: 23-11-2017 22:35:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendorType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VendorType] [varchar](50) NULL,
	[Description] [varchar](200) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChalanType] ON 
GO
INSERT [dbo].[ChalanType] ([Id], [ChalanType], [Description], [IsInput]) VALUES (2, N'PrinterJobWork', NULL, 0)
GO
INSERT [dbo].[ChalanType] ([Id], [ChalanType], [Description], [IsInput]) VALUES (3, N'PrinterFinishedProduct', NULL, 1)
GO
INSERT [dbo].[ChalanType] ([Id], [ChalanType], [Description], [IsInput]) VALUES (4, N'PrinterShrinkage', NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[ChalanType] OFF
GO
SET IDENTITY_INSERT [dbo].[FinancialYear] ON 
GO
INSERT [dbo].[FinancialYear] ([Id], [Name], [StartDate], [EndDate]) VALUES (1, N'TestYear', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[FinancialYear] OFF
GO
SET IDENTITY_INSERT [dbo].[InvoiceDetails] ON 
GO
INSERT [dbo].[InvoiceDetails] ([Id], [invoice_id], [product_id], [sale_rate], [quantity], [created_on], [created_by], [discount], [financial_year], [tenant_id]) VALUES (16, 14, 1, 1, 11, NULL, NULL, 0, NULL, NULL)
GO
INSERT [dbo].[InvoiceDetails] ([Id], [invoice_id], [product_id], [sale_rate], [quantity], [created_on], [created_by], [discount], [financial_year], [tenant_id]) VALUES (17, 15, 1, 100, 50, NULL, NULL, 10, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[InvoiceDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[InvoiceMaster] ON 
GO
INSERT [dbo].[InvoiceMaster] ([Id], [invoice_no], [customer_id], [gross_amount], [net_amount], [created_on], [created_by], [financial_year], [tenant_id], [discount]) VALUES (14, N'0074473', 1, 14, 14, CAST(N'2017-11-22' AS Date), NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[InvoiceMaster] ([Id], [invoice_no], [customer_id], [gross_amount], [net_amount], [created_on], [created_by], [financial_year], [tenant_id], [discount]) VALUES (15, N'16', 1, 4990, 4990, CAST(N'2015-08-27' AS Date), NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[InvoiceMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[PrintJobWorkReceived] ON 
GO
INSERT [dbo].[PrintJobWorkReceived] ([Id], [VendorId], [ChalanDate], [Created], [Updated], [Description], [chalan_number]) VALUES (1, 4, CAST(N'2017-11-23T00:00:00.000' AS DateTime), NULL, CAST(N'2017-11-23T21:43:39.520' AS DateTime), N'desc', 15)
GO
INSERT [dbo].[PrintJobWorkReceived] ([Id], [VendorId], [ChalanDate], [Created], [Updated], [Description], [chalan_number]) VALUES (2, 4, CAST(N'2017-11-24T00:00:00.000' AS DateTime), CAST(N'2017-11-23T21:20:14.240' AS DateTime), CAST(N'2017-11-23T21:20:14.240' AS DateTime), NULL, 16)
GO
SET IDENTITY_INSERT [dbo].[PrintJobWorkReceived] OFF
GO
SET IDENTITY_INSERT [dbo].[PrintJobWorkReceivedDetails] ON 
GO
INSERT [dbo].[PrintJobWorkReceivedDetails] ([Id], [ChalanId], [ProductId], [Quantity], [Fold], [Description]) VALUES (1, 1, 1, CAST(100.00 AS Numeric(18, 2)), 98, NULL)
GO
INSERT [dbo].[PrintJobWorkReceivedDetails] ([Id], [ChalanId], [ProductId], [Quantity], [Fold], [Description]) VALUES (2, 2, 2, CAST(50.00 AS Numeric(18, 2)), 97, NULL)
GO
SET IDENTITY_INSERT [dbo].[PrintJobWorkReceivedDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 
GO
INSERT [dbo].[Product] ([Id], [ProductTypeId], [ProductName], [Description], [IsActive]) VALUES (1, 1, N'Cloth Raw Material Test', N'Test one', 0)
GO
INSERT [dbo].[Product] ([Id], [ProductTypeId], [ProductName], [Description], [IsActive]) VALUES (2, 1, N'Cotton Slub', NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductType] ON 
GO
INSERT [dbo].[ProductType] ([Id], [ProductType], [Description], [IsActive]) VALUES (1, N'Cloth', NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[ProductType] OFF
GO
SET IDENTITY_INSERT [dbo].[PurchaseDetails] ON 
GO
INSERT [dbo].[PurchaseDetails] ([Id], [PurchaseId], [ProductId], [Quantity], [Fold], [Rate], [Description]) VALUES (2, 2, 1, CAST(1.00 AS Numeric(18, 2)), 3, CAST(1.00 AS Numeric(18, 2)), NULL)
GO
INSERT [dbo].[PurchaseDetails] ([Id], [PurchaseId], [ProductId], [Quantity], [Fold], [Rate], [Description]) VALUES (4, 3, 1, CAST(1.00 AS Numeric(18, 2)), 3, CAST(2.00 AS Numeric(18, 2)), NULL)
GO
INSERT [dbo].[PurchaseDetails] ([Id], [PurchaseId], [ProductId], [Quantity], [Fold], [Rate], [Description]) VALUES (5, 3, 1, CAST(4.00 AS Numeric(18, 2)), 6, CAST(5.00 AS Numeric(18, 2)), NULL)
GO
SET IDENTITY_INSERT [dbo].[PurchaseDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[PurchaseOrders] ON 
GO
INSERT [dbo].[PurchaseOrders] ([Id], [VendorId], [InvoiceNumber], [InvoiceDate], [Created], [Updated], [Description], [dispatch_document_number], [dispatched_through], [destination], [bale_numbers]) VALUES (2, 1, 12345, CAST(N'2017-10-26T00:00:00.000' AS DateTime), NULL, CAST(N'2017-10-22T22:56:04.547' AS DateTime), NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[PurchaseOrders] ([Id], [VendorId], [InvoiceNumber], [InvoiceDate], [Created], [Updated], [Description], [dispatch_document_number], [dispatched_through], [destination], [bale_numbers]) VALUES (3, 1, 5345234, CAST(N'2017-10-13T00:00:00.000' AS DateTime), CAST(N'2017-10-13T14:00:40.440' AS DateTime), CAST(N'2017-10-13T14:00:40.440' AS DateTime), NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[PurchaseOrders] ([Id], [VendorId], [InvoiceNumber], [InvoiceDate], [Created], [Updated], [Description], [dispatch_document_number], [dispatched_through], [destination], [bale_numbers]) VALUES (2003, 1, 455443, CAST(N'2017-10-18T00:00:00.000' AS DateTime), CAST(N'2017-10-17T10:01:02.957' AS DateTime), CAST(N'2017-10-17T10:01:02.957' AS DateTime), NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[PurchaseOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[TailorChalan] ON 
GO
INSERT [dbo].[TailorChalan] ([Id], [VendorId], [ChalanDate], [ChalanNo], [Created], [Updated], [Description], [IsGivenToTailor], [bill_number]) VALUES (2, 1, CAST(N'2017-11-03T00:00:00.000' AS DateTime), N'wrer43', CAST(N'2017-11-03T13:26:30.940' AS DateTime), CAST(N'2017-11-03T13:26:30.940' AS DateTime), NULL, 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[TailorChalan] OFF
GO
SET IDENTITY_INSERT [dbo].[TailorChalanDetails] ON 
GO
INSERT [dbo].[TailorChalanDetails] ([Id], [ChalanId], [ProductId], [Quantity], [LaborCost], [Description]) VALUES (3, 2, 1, CAST(43.00 AS Numeric(18, 2)), CAST(54.00 AS Numeric(18, 2)), NULL)
GO
SET IDENTITY_INSERT [dbo].[TailorChalanDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[TailorMaterialDetails] ON 
GO
INSERT [dbo].[TailorMaterialDetails] ([Id], [TailorChalanDetailsId], [ProductId], [Quantity], [Description]) VALUES (3, 3, 1, CAST(5.00 AS Numeric(18, 2)), NULL)
GO
INSERT [dbo].[TailorMaterialDetails] ([Id], [TailorChalanDetailsId], [ProductId], [Quantity], [Description]) VALUES (4, 3, 1, CAST(6.00 AS Numeric(18, 2)), NULL)
GO
SET IDENTITY_INSERT [dbo].[TailorMaterialDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Tenant] ON 
GO
INSERT [dbo].[Tenant] ([Id], [Name], [Address], [Phone], [Mobile], [City], [State], [Country], [CurrentFinYear]) VALUES (1, N'test', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Tenant] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 
GO
INSERT [dbo].[User] ([UserId], [UserName], [Password], [Email], [Mobile], [Phone], [TenantId], [password_reset_token]) VALUES (4, N'Waleed', N'7c4a8d09ca3762af61e59520943dc26494f8941b', N'devwaleed@gmail.com', NULL, NULL, 1, N'')
GO
INSERT [dbo].[User] ([UserId], [UserName], [Password], [Email], [Mobile], [Phone], [TenantId], [password_reset_token]) VALUES (5, N'ankur', N'c0f3fc9217bf9ef9ed628c02747bea7b2b3c80e7', N'ankurbhargava2000@gmail.com', N'09829085000', N'9829085000', 1, NULL)
GO
INSERT [dbo].[User] ([UserId], [UserName], [Password], [Email], [Mobile], [Phone], [TenantId], [password_reset_token]) VALUES (6, N'yashi', N'afa9ca3be149447780c2f7b524d61ed3d3db63f9', N'ankur_bhargava2000@yahoo.co.in', N'09829085000', N'9829085000', 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[Vendor] ON 
GO
INSERT [dbo].[Vendor] ([Id], [VendorTypeId], [VendorName], [PhoneNumber], [Address], [Description], [IsActive], [email], [pan_number], [gst_number], [mobile]) VALUES (1, 1, N'Ankur Bhargava', N'9829085000', N'J-145, Adarsh Nagar', N'Desc', NULL, N'ankurbhargava2000@gmail.com', N'556678676767', N'676767676', N'8989899999')
GO
INSERT [dbo].[Vendor] ([Id], [VendorTypeId], [VendorName], [PhoneNumber], [Address], [Description], [IsActive], [email], [pan_number], [gst_number], [mobile]) VALUES (2, 1, N'Cloth Vendor', N'45415515422', N'test', NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Vendor] ([Id], [VendorTypeId], [VendorName], [PhoneNumber], [Address], [Description], [IsActive], [email], [pan_number], [gst_number], [mobile]) VALUES (3, 1, N'Ankur Bhargava', N'9829085000', N'J-145, Adarsh Nagar', N'Test Desc', NULL, N'ankurbhargava2000@gmail.com', N'ABF45454545', N'121212122', N'9829085000')
GO
SET IDENTITY_INSERT [dbo].[Vendor] OFF
GO
SET IDENTITY_INSERT [dbo].[VendorType] ON 
GO
INSERT [dbo].[VendorType] ([Id], [VendorType], [Description], [IsActive]) VALUES (1, N'Raw Matarial Vendor', N'Who supplies raw material to company', 1)
GO
INSERT [dbo].[VendorType] ([Id], [VendorType], [Description], [IsActive]) VALUES (2, N'Printer', N'Who do the color processing of cloths', 1)
GO
INSERT [dbo].[VendorType] ([Id], [VendorType], [Description], [IsActive]) VALUES (3, N'Fabricator', N'Who create product from cloths', 1)
GO
SET IDENTITY_INSERT [dbo].[VendorType] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__A9D1053440FB3D27]    Script Date: 23-11-2017 22:35:36 ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__C9F28456922EC552]    Script Date: 23-11-2017 22:35:36 ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceDetails] ADD  DEFAULT (getdate()) FOR [created_on]
GO
ALTER TABLE [dbo].[InvoiceMaster] ADD  DEFAULT ((0)) FOR [discount]
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[User] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD FOREIGN KEY([financial_year])
REFERENCES [dbo].[FinancialYear] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD FOREIGN KEY([invoice_id])
REFERENCES [dbo].[InvoiceMaster] ([Id])
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD FOREIGN KEY([tenant_id])
REFERENCES [dbo].[Tenant] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceMaster]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[User] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceMaster]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[Vendor] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceMaster]  WITH CHECK ADD FOREIGN KEY([financial_year])
REFERENCES [dbo].[FinancialYear] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceMaster]  WITH CHECK ADD FOREIGN KEY([tenant_id])
REFERENCES [dbo].[Tenant] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PrinterChalan]  WITH CHECK ADD FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendor] ([Id])
GO
ALTER TABLE [dbo].[PrinterChalanDetails]  WITH CHECK ADD FOREIGN KEY([ChalanId])
REFERENCES [dbo].[PrinterChalan] ([Id])
GO
ALTER TABLE [dbo].[PrinterChalanDetails]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[PrintJobWorkReceived]  WITH CHECK ADD FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendor] ([Id])
GO
ALTER TABLE [dbo].[PrintJobWorkReceivedDetails]  WITH CHECK ADD FOREIGN KEY([ChalanId])
REFERENCES [dbo].[PrintJobWorkReceived] ([Id])
GO
ALTER TABLE [dbo].[PrintJobWorkReceivedDetails]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([ProductTypeId])
REFERENCES [dbo].[ProductType] ([Id])
GO
ALTER TABLE [dbo].[PurchaseDetails]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[PurchaseDetails]  WITH CHECK ADD FOREIGN KEY([PurchaseId])
REFERENCES [dbo].[PurchaseOrders] ([Id])
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendor] ([Id])
GO
ALTER TABLE [dbo].[TailorChalan]  WITH CHECK ADD FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendor] ([Id])
GO
ALTER TABLE [dbo].[TailorChalanDetails]  WITH CHECK ADD FOREIGN KEY([ChalanId])
REFERENCES [dbo].[TailorChalan] ([Id])
GO
ALTER TABLE [dbo].[TailorChalanDetails]  WITH CHECK ADD FOREIGN KEY([ChalanId])
REFERENCES [dbo].[TailorChalan] ([Id])
GO
ALTER TABLE [dbo].[TailorChalanDetails]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[TailorMaterialDetails]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[TailorMaterialDetails]  WITH CHECK ADD FOREIGN KEY([TailorChalanDetailsId])
REFERENCES [dbo].[TailorChalanDetails] ([Id])
GO
ALTER TABLE [dbo].[Tenant]  WITH CHECK ADD  CONSTRAINT [FK_Tenant_FinancialYear] FOREIGN KEY([CurrentFinYear])
REFERENCES [dbo].[FinancialYear] ([Id])
GO
ALTER TABLE [dbo].[Tenant] CHECK CONSTRAINT [FK_Tenant_FinancialYear]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendor] ([Id])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Tenant] FOREIGN KEY([TenantId])
REFERENCES [dbo].[Tenant] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Tenant]
GO
ALTER TABLE [dbo].[Vendor]  WITH CHECK ADD FOREIGN KEY([VendorTypeId])
REFERENCES [dbo].[VendorType] ([Id])
GO
/****** Object:  StoredProcedure [dbo].[USP_ProductWiseStock]    Script Date: 23-11-2017 22:35:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_ProductWiseStock]
AS
BEGIN

select P.Id, P.ProductName, 

(Select ISNULL(SUM(Quantity), 0) from PurchaseDetails where ProductId = P.id) as TotalPurchase,
(select ISNULL(SUM(quantity), 0) from PrinterChalanDetails PCD inner join PrinterChalan PC on PC.Id = PCD.ChalanId where ProductId = P.id ) as TotalProductGivenForPrinting,
(select ISNULL(SUM(quantity), 0) from PrinterChalanDetails PCD inner join PrinterChalan PC on PC.Id = PCD.ChalanId where ProductId = P.id ) as TotalReceived, 
(Select ISNULL(SUM(Shrinkage), 0) from PrinterChalanDetails where ProductId = P.id) as TotalShrinkage

from Product P

END
GO
/****** Object:  StoredProcedure [dbo].[USP_VendorWiseStock]    Script Date: 23-11-2017 22:35:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_VendorWiseStock]
AS
BEGIN

select V.Id, VendorName,
(SELECT ISNULL(SUM(Quantity), 0) from PrinterChalan PC left join PrinterChalanDetails PCD on PC.id = PCD.ChalanId where PC.VendorId = V.Id ) as GivenForPrinting, 
(SELECT ISNULL(SUM(Quantity), 0) from PrinterChalan PC left join PrinterChalanDetails PCD on PC.id = PCD.ChalanId where PC.VendorId = V.Id ) as ReceivedAfterPrinting, 
ISNULL(SUM(PCD.NetQuantity), 0) TotalNetQuantity, 
ISNULL(SUM(Shrinkage), 0) as TotalShrinkage
from Vendor V inner join PrinterChalan PC on V.id = PC.VendorId left join PrinterChalanDetails PCD on PC.id = PCD.ChalanId Group by  V.Id, VendorName

END
GO
USE [master]
GO
