@model  List<StockManager.Models.USP_VendorWiseStock_Result>

@{
    ViewBag.Title = "Vendor Wise Stock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table">
    <tr class="row">
        <td class="col-md-10">
            <h2>Vendor Wise Stock Report</h2>
        </td>
        <td class="col-md-2" style="vertical-align:middle">
            <a href="~/Report/PrintVendor">
                <i class="fa fa-print" style="font-size:30px;" aria-hidden="true"></i>
            </a>
        </td>
    </tr>
</table>
<table class="table">
    <tr>
        <th>
            Product Name
        </th>
        <th>
            Unit
        </th>
        <th>
            Issued
        </th>
        <th>
            Received
        </th>
        
    </tr>
    @{
        if (Model != null && Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IssuedQty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReceivedQty)
                    </td>
                    
                </tr>
            }
        }
    }
</table>



